*{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
ul{
  list-style-type: none;
}
body{
  padding: 0 !important;
}
/*弹出框样式*/

.el-pagination{
  width: 50%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.el-message__content{
  color:#fff !important;
  background:#eb6100 !important;
}
.el-message--success,.el-message--error{
  background: #eb6100 !important;
  border-color: #eb6100 !important;
}
.el-message .el-icon-success,.el-message .el-icon-error{
  color: #fff !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background: #eb6100 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover{
  color:#eb6100 !important;
}
.el-button--primary{
  background: #eb6100;
  border-color:#eb6100;
}
.el-button--primary:focus, .el-button--primary:hover{
  background: #ec6941;
  border-color:#ec6941;
}
.el-button:focus, .el-button:hover{
  background: #f38f70;
  border-color:#f38f70;
  color:#fff;
}
.l-select .el-input.is-focus .el-input__inner,.el-select .el-input__inner:focus{
  border-color: #eb6100 !important;
}
.el-select-dropdown__item.selected{
  color:#eb6100 !important;
}



.linear-btn{
  font-size: 14px;
  color:#fff;
  text-align: center;
  background:linear-gradient(to bottom, #fead94 0%,#e24c1f 100%);
}
.linear-gray-btn{
  font-size: 14px;
  color:#fff;
  text-align: center;
  background:linear-gradient(to bottom, #d6d6d6 0%,#9c9c9c 100%);
}
.hello1{
  position: relative;
}
.pc-position{
  cursor: pointer;
  line-height: 36px;
  padding-left: 16px;
  background-size: 12px 15px;
  font-size: 12px;
  color:#ff5000;
}
.page-box{
  padding: 10px;
  text-align: center;
}
.mianbox{

  position: relative;
  width:839px;
  margin-top: 145px;
  height:auto;
  /*margin-left: -328px;*/
  background: #fff;
  min-height:550px;
  padding: 0 45px 0 25px;
  margin-left: 240px;
  /*top:160px;*/
  /*left: 50%;*/
  z-index: 100;
}
.pc-top{
  height:36px;
  float: left;
}
.pc-top > ul {
  display: flex;
  justify-content: flex-start;
}
.pc-top > ul li {
  padding: 0 15px;
  cursor: pointer;

  font-size: 12px;
  line-height: 36px;
}
.pc-top > ul li a{
  color:#595959;
}
.mask{
  position: fixed;
  top:0px;
  z-index: 100;
  left:0px;
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.5);
}
.main-system-title{
  position: relative;
  line-height: 20px;
  font-size: 17px;
  padding-left: 10px;
  border-left: 3px solid #f73e3c;
}
.pc-top-r{
  float: right;
  display: flex;
  justify-content: flex-start;
}
.us-1{
  border-right:none !important;
}
.pc-top-r > div{

}
@media screen and (max-width: 1098px) {
  .pc-center{
    width: 100% !important;
  }
  .cs-box{
    margin-left: 10px !important;
  }
  .pc-search-title{
    width: 200px !important;
  }
  .pc-search-title input{
    width: 130px !important;
  }
  .main-bg-box{
    width: 100% !important;
  }
  .mianbox{
    margin-top: 115px !important;
  }
}
.pc-center{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
/*首页菜单*/
.pc-menu{
  width: 100%;
  height: 36px;
}
.pc-logo{
  display: none;
  float: left;
}
.pc-menulist{
  display: none;
  float: left;
  margin-left: 120px;
}
.pc-menulist ul{
  display: flex;
  justify-content: flex-start;
}
.pc-menulist li{
  cursor: pointer;
  color:#333;
  width: 80px;
  text-align: center;
  margin-right: 40px;
  font-size: 18px;
  line-height:100px;
}
.pc-logo img{
  height:70px;
  margin-top: 15px;
}
.activetab {
  color:#f73e3c !important;
  position: relative;
}
.activetab span{
  display: block;
  width:100%;
  border-bottom: 2px solid #f73e3c;
  position: absolute;
  bottom: 20px;
  left:0px;
}

/*课程列表样式*/
.class-price{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.class-price1{
  color:#f7260a;
  font-size: 12px;
}
.class-price1 span{
  font-size: 16px;
}
.class-joinnum{
  font-size: 12px;
  color:#666;
}
.class-joinnum span{
  color:#f7260a;
}
.class-tag{
  color:#666;
  font-size: 15px;margin-top: 5px;
}
.class-detail>p{
  color:#333;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.class-detail{
  padding:15px 10px;
}
.class-item:hover .hover-div{
  display: block;
}
.class-cover{
  cursor: pointer;
  position: relative;
}
.class-cover .hover-div {
  display: none;
  position: absolute;top:0px;
  left:0px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
.hover-div span{
  text-align: center;
  color:#fff;
  font-size: 17px;
  display: block;
}
.hover-div img{
  display: block;
  width: 180px;
  height:180px;
  margin: 30px auto 20px auto;
}

/*底部*/

.footer-left div span{
  display: block;
  text-align: center;
  color:#333;
  font-size: 13px;
}
.footer-left{
  margin-top: 40px;
  width: 520px;
  display: flex;
  justify-content: space-around;
}
.footer-left div{
  width: 150px;
}
.footer-left div img{
  width: 150px;
  height: 150px;
}

/*二级页面顶部样式*/
.page-top p {
  font-size: 42px;
  font-weight: bold;
  margin-top: 10px;
}
.page-top a {
  color:#fff;
  font-size: 14px;
  line-height: 80px;
  margin-left: 10px;
}
.page-top div div{
  display: flex;
  justify-content: flex-start;
}
.page-top >div > span{
  display: block;
  margin-top: 18px;
  padding-left: 30px;
  height: 20px;
  background: url("../img/positionicon.png") no-repeat left 0px;
  background-size: 13px 19px;
}
.page-top{
  color:#fff;
  position: absolute;
  left: 0px;
  top:0px;
  width: 100%;
  height: 100%;
}
.page-box-top {
  position: relative;
}
.page-box-top img{
  width: 100%;
  display: block;
}
