.coupon-checked .coupon-items{
  box-sizing: border-box;
  border:1px solid #e94f5b !important;
}
.coupon-checked .coupon-check{
  background: url("../img/zzw/coupon-checked.png") no-repeat 0px 0px !important;
  background-size: 100% 100%;
}
.coupon-check{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin:30px 0px 0px 30px;
}
.coupon-btn{
  margin-top: 30px;
  margin-left: 15px;
  cursor: pointer;
  padding: 3px 11px;
  color:#fff;
  font-size: 12px;
  background: #ff374c;
  border-radius: 10px;
  height: 16px;
}
.coupon-canuse{
  line-height: 30px;
  font-size: 20px;
  color:#656565;
}
.coupon-items-all{
  margin-right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;    width:480px;
}
.coupon-desc-title span{
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff374c;
  font-size: 14px;
  line-height: 25px;
  color:#fff;
  text-align: center;
}
.coupon-desc-title{
  line-height: 25px;
  display: flex;
  justify-content: flex-start;
  font-size: 22px;font-weight: bold;
  color:#ff374c;
}
.coupon-desc{
  margin-left: 10px;
  margin-top: 15px;
}
.coupon-num span{
  font-size: 18px;
  font-weight: bold;
}
.coupon-num{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  line-height: 84px;
  font-size: 40px;
  font-weight: bold;
  color:#ff374c;
}
.coupon-time {
  position: absolute;
  bottom:3px;
  left: 20px;
  color:#919191;
  font-size: 12px;
}
.coupon-bgbox{
  display: flex;
  position: relative;
  justify-content: flex-start;
  height: 84px;
  width: 96%;
  margin: 3px auto;

  background: url("../img/zzw/coupon-bg.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
.coupon-items{
  height: 90px;
  background:#eeeeee;
  width: 430px;
}
.coupon-list-box{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}
.coupon-list {
  background: none !important;
  margin: 10px 0;
  padding-left: 15px;
  background: #fff;
}
.translate-img {
  transform: rotate(0) !important;
}

.coupon-box-title img {
  margin-left: 5px;
  width: 20px;
  height: 14px;
  margin-top: 20px;
  transform: rotate(-90deg);
}

.coupon-box-title {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
}

.coupon-box > p {
  color: #f01818;
  font-size: 14px;
}

.coupon-box {
  display: flex;
  justify-content: space-between;
  background: #f1f4f7;
  margin-bottom: 10px;
  color: #1b1b1b;
  padding: 0 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 55px;
}
