.getcode{
  background: #4f93fe;
  color:#fff;
  border:1px solid #4f93fe;
  position: absolute;
  right: 0px;

  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  padding: 0 10px;
  bottom:10px;
  cursor: pointer;
}
.login-btn{
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  background: #ec6941;
  color:#fff;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  border:1px solid #ec6941;
}
.login-code span{
  text-align: center;
  display: block;
  width: 120px;
  line-height: 46px;
  background:#ec6941;
  color:#fff;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  right: 0px;
  top:0px;
}
.remnber-box{
  background: url("../../assets/img/zzw/checkrem.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
.login-forget span{
  cursor: pointer;
}
.login-forget {
  color:#8e8e8e;
  font-size: 12px;
}
.login-remnber p {
  font-size: 12px;
  color:#343434;
  margin-left: 8px;
}
.login-remnber > p > span{
  color:#eb6100;
}
.login-remnber > span{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border:1px solid #eeeeee;
  box-sizing: border-box;
}
.login-remnber{
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.login-hand{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.login-code{
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/img/zzw/logincode.png");
  background-size:  23px 29px;
  background-position: 15px 10px;
}
.login-userpass{
  background-image: url("../../assets/img/zzw/loginpassword.png");
  background-size:  23px 24px;
  background-position: 15px 10px;
}
.login-username{
  background-image: url("../../assets/img/zzw/loginusername.png");
  background-size: 23px 24px;
  background-position: 15px 10px;
}
.login-item input{
  background: none;
  margin-left: 50px;
  height: 100%;
  line-height: 46px;
  border:none;
}
.login-item div{
  margin-bottom: 20px;
  height: 46px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-color: #eeeeee;
}
.login-item{
  margin-top: 25px;
  width: 100%;
}
.login-type p {
  font-size: 12px;
  color:#ec6941;
  top: 5px;
  position: absolute;
  cursor: pointer;
  right: 0px;
}
.login-type-active{
  display: block !important;
}
.login-type div span{
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 2px solid #ec6941;
}
.login-type div{
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  margin-right: 22px;
  cursor: pointer;
}
.login-type p span{
  color:#8f8f8f;
}
.login-type{
  position: relative;
  display: flex;
  justify-content: flex-start;
  color:#313131;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}
.login-box-new{
  width: 332px;
  background: #fff;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px 34px;
}
.login-title span{
  font-size: 18px;
  margin-top: 20px;
}
.login-title h2{
  font-weight: bold;
}
.login-title{
  text-align: center;
  color:#fff;
}
.login-box{
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-size: 100% 100%;
  background: url("../../assets/img/zzw/loginbg.png") no-repeat;
  background-size: 100% 100%;
}
