.special-class{
  display: flex;
  justify-content: space-between;
}
.point3{
  cursor: pointer;
  width:25px;
  height:5px;
  margin-top: 10px;
  float: right;
}

.imgbox div img{
  height:185px;
  width:270px;
}
.imgbox{
  display: flex;
  justify-content:space-between;

}

.slider-item{

  display: flex !important;
  width: 100% !important;
  justify-content: space-between !important;
}
.imglist-list-box{
  padding-top: 20px;
}
.hotclass-list ul{
  justify-content: space-between !important;
}
.special-class{
  padding-left: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.special-class>span{
  color:#333 !important;
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
}

.organ_active{
  background: #f73e3c;
}
.organ-btns>div{
  width:120px;
  height:40px;
  line-height:40px;
  font-size:16px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.test-linten{
  background: #f73e3c;
  color:#fff;
  margin-right: 20px;
}
.organ-left{
  width:740px !important;
  padding: 20px;background: #fff;
}
.organ-left img{
  max-width: 100%;
}
.organ-allbox{
  display:flex;justify-content: space-between;
  margin-top: 10px;
}
.organ-btns{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.grade-items{
  font-size: 14px;
  color:#333;
  line-height:34px;
  margin-left: 20px;
}
.grade-items span{
  margin-right: 15px;
}
.organ-allgrade{
  display: flex;
  justify-content: flex-start;
}
.organ-allgrade span{
  font-size: 30px;
  color:#f7260a;
}
.organ-allgrade a{
  width:32px;
  height:20px;
  line-height: 20px;
  text-align: center;
  color:#fff;
  background: #f7260a;
  border-radius: 10px 0px 10px 0px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  margin-top: 7px;
}
.organ-grade{
  display: flex;
  justify-content: flex-start;margin-top: 20px;
}
.organ-item-title{
  width:70px;
  color:#666;
}

.organ-detail ul li p span{
  color:#f73e3c;
}
.organ-detail ul li p a{
  margin-right: 20px;
  padding-left: 24px;
  background: url("../img/specialserver.png") no-repeat  left 0px;
  background-size: 16px 16px;
  color:#333;
  text-decoration: none;
  line-height: 18px;
}
.organ-detail ul li p {
  width:540px;
}
.organ-detail ul li {
  display: flex;
  font-size: 14px;color:#333;
  margin-top: 20px;
  justify-content: flex-start;

}
.organ-detail>.organ-title{
  font-size: 18px;
  color:#333;
  font-weight: bold;
}
.organ-image img{
  width:100%;
  height:100%;
}
.organ-image{
  width:320px;
  height: 320px;
}
.organbox{
  width: 1140px;
  padding: 30px;
  background: #fff;
}
.organbox{
  display: flex;
  justify-content:flex-start;
}
.od-tab ul li {
  line-height: 40px;
  font-size: 17px;color:#fff;
  cursor: pointer;
  width: 90px;text-align: center;
}
.od-tab ul li:hover{
  background: #f73e3c;
}
.od-tab ul {
  display: flex;
  justify-content: flex-start;
}
.od-tab{
  height: 40px;
}
.pc-telphone{
  margin-top: 30px;
}
.od-intro{
  height: 60px;
  padding-left: 50px;
  line-height: 60px;
  margin-top: 20px;
  color:#333;
  font-size: 16px;
  border-left:1px solid #e5e5e5;
}
.od-top{
  display: flex;
  height:100px;
  justify-content:flex-start;
}
.organ-name-bpoxx{
  /*width:200px;*/
  display:flex;justify-content: flex-start;
  line-height:100px;
  padding-right: 20px;

}
.organ-name-top{
  margin-left: 10px;
  line-height: 20px;
  margin-top: 30px;
}
.organ-name-top>div{
  color:#666;font-size: 12px;
  margin-top: 5px;
  background: url("../img/telphone.png") no-repeat left 0px;
  background-size: 20px 20px;
  padding-left: 25px;
}
.od-top img{

  height: 60px;margin-top: 20px;
}
.pc-product-list-bot{
  background: #fff;
}
.pc-product-list-bot ul{
  padding-bottom: 20px;
}
.pc-product-list-bot ul li {
  /*width:220px !important;*/
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 15px auto;
}
.pc-product-list-bot ul li img{
  width:50px;height: 50px;
  margin-right:10px;
}
.pc-product-list-bot ul li >div{
  /*width:160px;*/
}
.pc-product-list-bot ul li div p {
  font-size: 14px;color:#333;
}
.pc-product-list-bot ul li div span{
  colro:#666666;
  font-size: 12px;
}
.pc-product-list-bot > div{
  font-size: 14px;color:#333;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.pc-product-list-bot > span{
  display: block;
  width:60px;
  border-bottom: 2px solid #f73e3c;
  margin: 0 auto 15px auto;
}
.store-hot-class{
  background: #fff;
}

/********************************************************新的机构校区*/
.org-schools-address {
  width: 623px;
  min-height: 400px;
}

.schools-address-active {
  background: #fceae4 !important;
}

.schools-address-active .schools-index, .schools-address-active .schools-address p, .schools-address-active .schools-address span {
  color: #ec6941 !important;
}

.schools-address span {
  color: #939393;
  font-size: 14px;
}

.schools-address p {
  font-size: 18px;
  color: #222222;
}

.schools-address-icon-red {
  background: url("../../assets/img/zzw/red-address.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}

.schools-address-icon-gray {
  background: url("../../assets/img/zzw/gray-address.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}

.schools-index {
  margin-top: 6px;
  height: 28px;
  width: 19px;
  text-align: center;
  line-height: 28px;
  color: #010101;
  font-size: 12px;
}

.schools-address {
  margin-left: 20px;

}

.org-schools-list li {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  width: 450px;
  padding: 17px 30px;
  background: #f6f6f6;
  border-bottom: 1px solid #fff;
}

.org-schools {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

/********************************************************新的机构关于我们*/

.org-desc-code img {
  max-width: 100%;
}

.org-desc-orgname {
  color: #313131;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 70px;
}


.org-desc-detail {
  width: 782px;
  padding: 40px;
  background: #fff;
}

.org-desc {
  display: flex;
  justify-content: space-between;
}



/********************************************************新的机构课程列表*/
.right-detail div span{
  color:#636363
}
.right-detail div a{
  color:#eb6100
}
.right-detail div {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.right-detail>span{
  margin: 8px 0px 10px 0px;
  color:#636363;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}
.right-detail{
  width: 160px;
  padding-right: 15px;
}
.right-detail p{
  color:#050505;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.right-item-cover img{
  width: 100%;
  height: 100%;
}
.right-item-cover{
  width:107px;
  height: 73px;
}
.right-list-item{
  cursor: pointer;
  padding: 7px 0;
  border-bottom: 1px solid #f0f1f1;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.right-title {
  margin-bottom: 11px;
  padding-left: 17px;
  line-height: 55px;
  color:#313131;
  font-weight: bold;
  font-size: 16px;
  background: #fff;
}
.organ-product-list-right{
  width: 300px;
}
.active-product-list-class{
  background: #ec6941 !important;
  color:#fff !important;
}
.organ-product-list-class span{
  cursor: pointer;
  font-size: 14px;
  color:#6b6b6b;
  line-height: 37px;
  padding: 0 45px;
  border: 1px solid #e5e5e5;
}
.organ-product-list-class{
  padding: 8px;background: #fff;
  display: flex;
  justify-content: flex-start;
}
.organ-product-list-left{
  width: 894px;
}
.organ-product-list{
  display: flex;
  justify-content: space-between;
}
.organ-num{
  width:100% !important;
}
.organ-detail {
  width: 730px;
}
.organ-num div{
  color:#f7260a !important;
}






/*-**************************************************资讯*/

.org-news-detail > div{
  width: 100%;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
}
.org-news-detail div,.org-news-detail span{
  font-size: 13px;color:#7f7f7f;
  line-height: 25px;
  margin-top: 5px;
}
.org-news-detail > p{
  color:#2a2a2a;
  font-size: 18px;
  font-weight: bold;
}
.org-news-detail {
  width: 545px;
}
.org-news-item img{
  width: 252px;
  margin-right: 20px;
  height: 115px;
  border:2px solid #eeeeee;
}
.org-news-item{
  margin-bottom: 15px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.org-news-list{
  padding: 0 20px;
  background: #fff;
}



/*-**************************************************新的评论*/
.org-grade-item div p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color:#e69508;
  font-weight: bold;
}
.org-grade-item div span{
  font-size: 12px;
  color:#313131;
  display: block;
  text-align: center;
}
.org-grade-item {
  padding-top:10px;
  display: flex;
  justify-content: space-around;
}
.org-grade-top p{
  font-size: 35px;
  font-weight: bold;
  color:#e69508;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  width: 80%;
  margin: 10px auto 0px auto;
}
.org-grade-top div span{
  position: absolute;
  color:#9c9c9c;
  font-size: 14px;
  right: 45px;
  top:8px;
}
.org-grade-top div{
  text-align: center;
  position: relative;
  color:#313131;
  font-size: 25px;
  font-weight: bold;
}
.org-grade-top{
  padding-top: 20px;

}
.org-all-grade{
  height: 200px;
  background: #fff;
  margin-bottom: 14px;
}
.org-common{
  width: 864px;
  padding: 24px 0;
  background: #fff;
}

.org-desc-hotclasses {
  width: 323px;
}
.hot-title{
  line-height: 63px;
  padding: 0 25px;
  border-bottom: 2px solid #e7e8eb;
  font-size: 19px;
  color:#3e3e3e;
}




.comments-imglist img{
  cursor: pointer;
  height: 70px;
  width:70px;
  margin-right: 20px;
}
.comments-imglist{
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}
.comments-content{
  font-size:14px;
  color:#898989;
  line-height:20px;
  margin-top: 10px;
}
.learn-product{
  float: right;
  font-size: 14px;
  color:#333;
}
.comments-grade{
  margin-top: 15px;
}
.grade-item-comments{
  margin-left: 20px;
  color:#999;
  font-size: 12px;
  float: left;
}
.grade-item-comments span{
  margin-right: 15px;
}
.grade-box{
  float: left;
}
.comments-p{

  display: flex;
  line-height:20px;
  justify-content:flex-start;
}
.comments-p p{
  margin-top: 16px;
  font-size: 18px;
  margin-right: 8px;
  color:#313131;
  font-weight: bold;
}
.comments-p span{
  color:#999999;
  font-size: 12px;
}
.comments-detail{
  margin-left: 30px;
  width:640px;
}
.comments-head{
}
.comments-head img{
  width:100px;
  height:100px;
  border-radius: 50%;
}
.comments-list li{
  padding: 31px 44px 0px 47px;

  /*border-bottom: 1px solid #e5e5e5;*/
  display: flex;
  justify-content: flex-start;
}

/************************************************机构首页*/
.org-index-school{
  display: flex;
  height: 250px;
  overflow: hidden;
  justify-content: space-around;
}
.org-pics-list a {
  width: 24%;
}
.org-pics-list img{
  cursor: pointer;
  width: 100%;
}
.org-pics-list{
  display: flex;
  justify-content: space-around;
}
.org-index-content{
  padding: 20px;
}
.org-index-title p {
  position: absolute;
  right: 20px;
  font-weight: normal;
  font-size: 14px;
  color:#7e7e7e;
  cursor: pointer;
}
.org-index-title span{
  display: block;
  height: 20px;
  border-right:5px solid #ec6941;
  margin-top: 25px;
  margin-right: 5px;
}
.org-index-title{
  color:#2a2a2a;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  position: relative;
  line-height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid #f0f1f1;
}
.org-index-item-list{
  margin-top: 10px;
  background: #fff;
}
.organ-getprice-btn {
  color: #ec6941;
  border: 1px solid #ec6941
}

.organ-free-btn {
  background: #ec6941;
  color: #fff;
}
.organ-signup-btn span {
  font-size: 12px;
  color: #ec6941;
  line-height: 40px;
}

.organ-signup-btn div {
  cursor: pointer;
  padding: 9px 17px;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 10px;
}

.organ-signup-btn {
  display: flex;
  margin-top: 5px;
  justify-items: flex-start;
}

.organ-index-items div div {
  /*display: flex;*/
  /*justify-content: flex-start;*/
  flex-wrap: wrap;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.organ-index-items div p {
  color:#f84e0c;
  font-size: 14px;
  text-decoration: underline;
}
.organ-index-items >div{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 20px;
  color:#888888;
  width: 620px;
  font-size: 14px;
}
.organ-index-items span{
  color:#353535;
  font-size: 14px;
  width: 70px;
}
.organ-index-items {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.organ-index-top div a{
  color:#6b6b6b;
  font-size: 12px;
}
.organ-index-top div{
  margin-left: 5px;
  margin-top: 10px;
}
.organ-index-top > a{
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin-top: 13px;
  padding: 2px 4px;
  color:#fff;
  font-size: 12px;
  background: #ec6941;
  border-radius: 10px;
}
.organ-index-top span{
  margin-right: 15px;
  color:#f84e0c;
  font-size: 30px;
  font-weight: bold;
}
.organ-index-top{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.organ-index-get>img{
  width: 418px;
  margin-right: 34px;
  height: 250px;
}
.organ-index-get{
  background: #fff;
  padding: 25px 20px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}


