.el-tabs__item.is-active{
  color:#eb6100 !important;
}
.el-tabs__item:hover{
  color:#eb6100 !important;
}
.el-tabs__active-bar{
  background: #eb6100 !important;
}
.activename{
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.activename span{
  display: block;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  height: 26px;line-height: 26px;
  background: #ffddbc;
  border-radius: 3px;
  color:#ff5000;
  width: 80px;
}
.product-detail{
  margin-left: 15px;
  flex:1;
  padding-right: 20px;
}
.product-item{
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 49%;
  margin-bottom: 20px;
}
.product-img{
  width: 160px;height: 160px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  /*background: url("../img/test2.png") no-repeat;*/
  background-position: center center;
  background-size: 100% 100%;
  display: inline-block;
}
.class-price a{
  float: left;
  font-size: 10px;
  color:#f7260a;
  text-decoration: none;
}
.hotclass-list{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.hotclass-list > img{
  width: 200px;height: 520px;
}
.hotclass-list>div{
  margin-left: 20px;
  width:100%;
}
.hotclass-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.class-title{
  font-size: 18px;
  color:#333;
  margin-top:10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.class-tag{
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
  height: 20px;
}
.class-tag span{
  font-size: 14px;color:#666;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.class-price {
  float: left;
}
.class-price span{
  color:#f7260a;
  font-size: 26px;
  font-weight: bold;
  float: left;
}
.class-person{
  float: right;
  color:#666666;
  font-size: 12px;
  margin-top: 20px;
}
.class-person span{
  color:#f7260a;
}
.class-num{
  margin-top: 2px;
}

/*课程详情*/

.class-person{
  margin-top: 20px !important;
}
.class-price a{
  /*margin-top: 12px !important;*/
}
.pc-product-list-bot ul li div p{
  text-align: left;
}
.class-tag{
  text-align: left;
}
.hotclass-list>div{
  margin-left: 0px !important;
}

.pc-product-list-bot{
  padding: 0 20px !important;
}
.pc-product-list-bot ul li{
  margin: 0 auto 20px auto;
  width:370px !important;
}
.pc-product-list-bot > div{
  margin-top: 0px !important;
}
.product-img{
  width:160px;
  height:160px;
}
.product-allbox{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.special-text{
  background: url("../img/gth.png") no-repeat left 0px;
  background-size: 16px 16px;
  padding-left: 25px;
  line-height: 20px;
  font-size: 12px;
}
.share-money{
  border:1px solid #f73e3c;
  color:#f7260a;
}
.organ-btns>div{
  width:120px;
  height:40px;
  line-height:40px;
  font-size:16px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.test-linten{
  background: #f73e3c;
  color:#fff;
  margin-right: 20px;
}
.product-detail-left{

  width:695px !important;
  padding: 15px 28px;background: #fff;
}
.product-detail-right{
  width: 333px;
  background: #fff;
}
.organ-btns{
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
.sharegeticon{
  cursor: pointer;
  font-size: 12px;
  color:#666;
  padding-left: 25px;
  background: url("../img/shareicon.png") no-repeat left 0px;
  background-size:17px 16px ;
  position: absolute;
  right:0px;
  top:5px
}
.product-d-price{
  font-size: 12px;
  color:#f7260a;
}
.product-d-price span{
  font-size: 30px;
  font-weight: bold;
}
.guige-active{
  border:2px solid #f7260a !important;
  padding-right: 28px;
  background: url("../img/choosed.png") no-repeat right bottom;
  background-size: 16px 16px;
}
.guige-box{
  display: flex;
  justify-content:flex-start;
}
.guige-box span{
  cursor: pointer;
  height:28px;
  display: block;
  margin-right: 10px;
  padding: 0 13px;
  border:2px solid #ddd;
  font-size: 12px;
  line-height:28px;
}
.active-name{
  color:#ff5000;
}
.product-d-lt{
  color:#7f7f7f;
  font-size: 14px;
  margin-top: 10px;
}
.product-d-lr{
  color:#333;
  margin-left: 10px;
  line-height: 28px;
}
.product-d-li li{
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}
.produt-d-title{
  font-size:24px;
  color:#202020;
  font-weight: 900;
}
.product-d-d{
  width:600px;
  margin-left: 40px;
}
.pc-center-padding{
  padding-top: 20px;
  /*display: flex;*/
  /*justify-content:space-between;*/
}
.product-d-img{
  width:380px;
  height:258px;
  background-size: cover;
}
.endnum{
  line-height: 50px;
  font-size: 14px
}
.group-time .endnum div{
  line-height: 18px;
  display: inline;
  color:#fff;
  font-size: 16px;
}
.group-time span{
  font-size: 12px;color:#fff;
  padding: 9px 7px;
}
.group-time>.endtext{
  color:#ff5000;
  font-size: 12px;
  margin-top: 5px;
}
.group-time>img{
  height: 18px;width: 18px;
  margin: 13px 10px 15px 15px;
  float: left;
}
.group-time .endnum a{
  color:#ff5000;font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.group-time .endnum span{
  width: 18px;height: 18px;
  border-radius: 3px;
  line-height: 18px;
  color:#fff;
  font-size: 12px;
  background: #ff5000;
}
.cut-price span{
  font-size: 14px;
}
.cut-price{
  line-height: 50px;
  padding-left: 15px;
  font-size: 24px;
  color:#fff;
  width:60%;
}
.cut-time-num{
  width:40%;
}
.cuttime{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width:100%;
  height:50px;
  background: url("../img/timebg.png") no-repeat 0px 0px ;
  background-size: 100% 100%;
}
.qrcode{
  position: absolute;
  left:-120px;
  top:0px;
}


.subjects-btn{
  display: flex;
  /*padding: 0 20px;*/
  justify-content: flex-start;
  padding: 10px;
  /*background: #f7f7f7;*/
}
.subjects-btn span{
  cursor: pointer;
  /*width:70px;*/
  padding:  4px 15px;
  display: block;
  background: #dcdcdc;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  height:30px;
  margin-right: 10px;
  color:#676767;
  border:1px solid #c9c9c9;
}
.video-flag{
  width: 19px;
  height: 22px;
  margin-top: 16px;
  background-size: 100% 100%;
  background: url("../../assets/img/zzw/flag.png") no-repeat 0px 0px;
}
.active-btns{
  background: #ff840c !important;
  border:1px solid #ff6b3c !important;
  color:#fff !important;
}
.stagelist{
  cursor: pointer;
  margin-bottom: 10px;
}
.stagelist span{
  line-height: 40px;
  font-size: 18px;color:#000;
  padding-left: 35px;
  background: url("../../assets/img/zzw/videoicon.png") no-repeat left 0px;
  background-size:24px 24px;
}
.stagelist img{
  float: right;
  width:8px;
  height:15px;
  margin-top: 14px;
}
.open-active{
  transform: rotate(90deg);
}
.class-list{
  padding:0px 20px;
  background: #fff;
  margin-top: 10px;
}
.class-list>div{
  font-size: 16px;color:#333;
  /*border-bottom: 1px solid #e5e5e5;*/
  /*padding-bottom: 10px;*/
}
.class-list li{
  background: #f3f3f3;
  display: flex;
  padding:0 25px;
  margin-bottom: 2px;
  justify-content: space-between;
}
.class-list li div{
  font-size: 14px;color:#030303;
  width: 60%;
  overflow: hidden;
  line-height: 55px;
}
.class-list li span{
  width:50px;
  display: block;
  cursor: pointer;
  text-align: right;
  color:#05911b;
  font-size: 12px;
  /*border: 1px solid #f7260a;*/
  border-radius: 2px;
  line-height: 55px;
}

/*xin2*/
.pro-detail-all{
  width: 1100px;
  background: #fff;
  margin: -80px auto 0 auto;
  position: relative;
  z-index: 2;
}
.pro-banner {
  position: relative;
  z-index: 1;
}
.pro-banner img{
  width: 100%;
}
.pro-detail-top{
  padding: 25px;
  display:flex;
  justify-content: flex-start;
}
.product-ps{
  padding-bottom: 25px;
  display: flex;
  line-height: 20px;
  justify-content: flex-start;
  color:#7f7f7f;
  font-size: 12px;
  padding-left: 25px;
}
.product-ps span{
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  background: #e60012;
  border-radius: 50%;
  color:#fff;

}
.hot-class-detail{
  margin-bottom: 20px;
}
.hot-class-price > p{
  font-size: 12px;color:#636363;
}
.hot-class-price > div > span{
  color:#eb6100;
  font-size: 12px;
  font-weight: normal;
}
.hot-class-price > div{
  color:#eb6100;
  font-weight: 900;
  font-size: 18px;
}
.hot-class-price{
  line-height: 37px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}
.hot-class-classtime {
  display: flex;
  justify-content: space-between;
  font-size:12px;
  color:#636363;
  margin-top: 5px;
}
.hot-class-top > p{
  color:#050505;
  font-size: 15px;
  font-weight: bold;
}
.hot-class-top{
  padding: 16px 21px;
  border-bottom: 1px solid #cfcfcf;

}
.hot-class-text{
  border-right: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}
.hot-class-img img{
  height: 197px;
  display: block;
  width: 100%;
}
.hot-class-list{
  padding: 15px 20px;
}
.hot-title{
  line-height: 63px;
  padding: 0 25px;
  border-bottom: 2px solid #e7e8eb;
  font-size: 19px;
  color:#3e3e3e;
}
.pc-product-list-bot{
  border-bottom: 13px solid #e7e8eb;
}
.store-in{
  cursor: pointer;
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: #fff4f1;
  text-align: center;
  color:#ff3c00;
  font-weight: bold;
  border-radius: 40px;
  border:1px solid #ec6941;

}
.store-detail span{
  color:#6b6b6b;
  font-size: 12px;
  line-height: 18px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.store-detail p {
  color:#0c0c0c;
  font-size: 18px;
  font-weight: 900;
  margin-top: 13px;
}
.store-detail div{
  width: 175px;
  margin-left: 20px;

}
.store-detail img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border:1px solid #6b6b6b;
}
.store-detail{
  display: flex;
  justify-content: space-between;
  padding: 18px 4px;
}
.pro-detail-bottom{
  border-top: 10px solid #e4e6e9;
  background: #e6e8eb;
}


.join-submit{
  cursor: pointer;
  margin-top: 15px;
  border:1px solid #eb6100;
  width: 210px;
  height: 40px;
  background: #ff3c00;
  font-size: 14px;
  color:#fff;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;

}
.pro-active-time{
  padding: 9px 10px;
  background: #eb6100;
  color:#fff;
  margin-top: -10px;
}
